In [1]:
import pandas as pd 
import numpy as np

In [13]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['A','B','C'],index=['x','y','z'])

In [14]:
df.head()

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [15]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [16]:
df.index

Index(['x', 'y', 'z'], dtype='object')

In [17]:
df.tail()

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [7]:
a = np.arange(1,100)

In [ ]:
dx = pd.DataFrame(a,index=[str(i) for i in range(1,100)])

In [21]:
dx

     0
1    1
2    2
3    3
4    4
5    5
..  ..
95  95
96  96
97  97
98  98
99  99

[99 rows x 1 columns]

In [22]:
dx.columns

RangeIndex(start=0, stop=1, step=1)

In [23]:
dx.shape

(99, 1)

In [24]:
dx[0]

1      1
2      2
3      3
4      4
5      5
      ..
95    95
96    96
97    97
98    98
99    99
Name: 0, Length: 99, dtype: int32

In [25]:
dx.index

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37',
       '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49',
       '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61',
       '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73',
       '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85',
       '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97',
       '98', '99'],
      dtype='object')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [27]:
dx.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99 entries, 1 to 99
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       99 non-null     int32
dtypes: int32(1)
memory usage: 3.2+ KB

In [28]:
df.dtypes

A    int64
B    int64
C    int64
dtype: object

In [29]:
dx.dtypes

0    int32
dtype: object

In [30]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [31]:
dx.describe()

               0
count  99.000000
mean   50.000000
std    28.722813
min     1.000000
25%    25.500000
50%    50.000000
75%    74.500000
max    99.000000

In [32]:
df.nunique()

A    3
B    3
C    3
dtype: int64